@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  background-color: #D991A2;
}
#calculator {
  font-family: 'Pacifico', cursive;
  width: 414px;
  text-align: center;
  margin: 35px auto;
  background-color: #fff;
  font-size: 0;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 15px 50px;
}

.button, .result {
  display: inline-block;
  width:25%;
  background-color: #ffffff;
  height:103.5px;
  font-size:30px;
  border: 1px solid #000000;
  box-sizing:border-box;
  line-height: 101.5px;
  cursor: pointer;
}
.result {
  width:100%;
  cursor: default;
  text-align: right;
  padding: 0 10px;
}
#calculator div:last-child {
  width:50%;
}
