body {
    background-image: url("https://wallpapercave.com/wp/20DJbgh.jpg");
  }
  button:hover, .button:hover {
    background: #fff; 
  }
  #calculator {
    width: 414px;
    background-color: rgba(226, 228, 220, 0);
    text-align: center;
    margin: auto auto;
    background-image: url("https://wallpapercave.com/w/20DJbgh");
    font-size: 0;
  }
  .button, .result {
    display: inline-block;
    width:25%; 
    background-color: rgba(206, 63, 63, 0.05);
    height:103.5px;
    font-size:30px;
    border: 3px solid rgb(204, 11, 21);
    box-sizing:border-box;
    line-height: 101.5px;
    cursor: pointer;
    transition: all .5s;
    border-radius: 15px;
  }
  .result {
    width:100%;
    cursor: default;
    text-align: right;
    padding: 0 10px;
    border-radius: 15px;
  }
  #calculator div:last-child {
    width:50%;
  }
  .switch {
    position: fixed;
    bottom: 20px;
    left: 20px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background: rgb(235, 79, 79);
    transition: all .5s;
  }