body {
  background-color: #000000;
}
#calculator {
  width: 500px;
  text-align: center;
  margin: 35px auto;
  background-color: #000000;
  font-size: 0;
  box-shadow: 0px 0px 75px blue;
}
.button, .result {
  display: inline-block;
  width:25%; 
  background-color: #044301;
  height:103.5px;
  font-size:30px;
  border: 1px solid #0BF817;
  border-radius: 8px;
  box-sizing:border-box;
  line-height: 101.5px;
  cursor: pointer;
}
.result {
  width:100%;
  cursor: default;
  text-align: right;
  padding: 0 10px;
  font-size: 50px;
	background-color: #0BF817;
}
#calculator div:last-child {
  width:50%;
}
